<!DOCTYPE html>

<html>
<head>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Style.css" rel="stylesheet" />
</head>
<body>
@await Component.InvokeAsync("NavBar")
    <div class="contentSpacingTop"></div>
<div id="main-content">
    @RenderBody()
</div>
</body>

</html>

